@import url('https://fonts.cdnfonts.com/css/death-star');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Death Star', sans-serif;
}
body {
    min-height: 100vh;
    background: url(assets/starsbg.jpeg) no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
    animation: change 70s infinite ease-in-out;
    padding-top: 80px;
}

/*navbar*/

.header{
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border-bottom: 3px solid #ffe81f; 
}

.header::before{
    content:'';
    position: absolute;
    top: 0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    z-index: -1;
}

.header::after{
    content:'';
    position: absolute;
    top: 0;
    left:-100%;
    width:100%;
    height:100%;
    background: linear-gradient(90deg, transparent, rgba(255,255,255,.4), transparent);
    transition: .5s;
}

.header:hover::after{
    left:100%;
}

.logo{
    font-size: 2rem;
    color: transparent;
    -webkit-text-stroke: 0.5px #ffe81f;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    font-size: 1rem;
    color: #ffe81f;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
  }
  
  .navbar a.active {
    font-size: 1.5rem;
    color: transparent;  
    -webkit-text-stroke: 0.5px #ffe81f;
    font-weight: bold; 
  }

#check{
    display: none;
}

.icons{
    position:absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #ffe81f;
    cursor:pointer;
    display: none;
}


/*home*/
.filter-buttons {
    text-align: center;
    margin: 2rem 0; 
    flex-wrap: wrap;
}

.filter-btn {
    background: #ffe81f;
    color: #000;
    border: none;
    padding: 0.8rem 1.5rem;
    margin: 0 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.filter-btn:hover {
    background: #ffc107;
}

/* Character Cards */
.characters {
    color: transparent;  
    -webkit-text-stroke: 0.5px #ffc107;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding: 2rem;
    flex-wrap: wrap;
}
.character-card{
    border-radius: 10px;
    background-color: black;
    text-align: center;
    border-radius: 10px;
    position: relative;
}

.character-card::after,.character-card::before{
    content:'';
    position:absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(#fff, #ffe81f, #ff9f00, #000, #ff9f00,#ffe81f,#fff );
    border-radius: 10px;
    top:50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;

}

.character-card:hover {
    transform: scale(1.05);
}

.character-card img {
    height: 250px;
    width: 200px;
    border-radius: 10px;
}

/* Character Details Modal */
/* Popup Details */
.character-details {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(0, 0, 0); 
    padding: 3rem;
    border-radius: 15px;
    width: 90%;
    max-width: 900px; 
    display: none;
    z-index: 200;
    color: #fff;
    box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.9);
    border: 2px solid #ffe81f;
    overflow-y: auto; 
    max-height: 80vh; 
}

.character-details.active {
    border-radius: 10px;
    display: block;
}


.character-details .details-content {
    display: flex;
    align-items: center;
    gap: 20px; 
}

.character-details img {
    width: 350px; 
    height: 300px;
    border-radius: 8px;
    object-fit: cover;
}

.character-details .details-content h2 {
    color: transparent;
    -webkit-text-stroke: 0.5px #ffe81f;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.character-details .details-content p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    margin: 5px 0;
}

.close-btn {
    background: none;
    border: none;
    color: #ffe81f;
    font-size: 1.5rem;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

body > .main-content {
    transition: 0.3s ease;
  }