@media (max-width:1200px){
    .header{
        padding: 1.3rem 5%;
    }
}

@media (max-width:1120px){
    .icons{
        display:inline-flex;
    }

    #check:checked~.icons #menu-icon{
        display:none
    }

    .icons #close-icon{
        display:none;
    }

    #check:checked~.icons #close-icon{
        display:block;
    }

    .navbar{
        position:absolute;
        top: 100%;
        left:0;
        width: 100%;
        height:0;
        background: rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        box-shadow: 0.5rem 1rem rgba(0,0,0,.1);
        overflow: hidden;
        transition: .3rem ease;

    }

    #check:checked~.navbar{
        height:20rem;
        display:block;
    }

    .navbar a {
        display:block;
        font-size: 1.1rem ;
        margin: 1.5rem 0;
        text-align: center;
        transform:translateY(-50px);
        opacity: 0;
        transition: .3 ease;

    }

    
    #check:checked~.navbar a{
        transform:translateY(0);
        opacity: 1;
        transition-delay: calc(.10s * var(--i));
    }
}

@media (max-width: 768px) {


    .filter-buttons {
        margin: 1.5rem 0;
    }

    .character-card {
        width: calc(100% / 2 - 1rem); /* Adjust for 2 cards per row */
        max-width: 250px;
    }
}

@media (max-width: 480px) {

    .filter-btn {
        padding: 1rem 1rem;
        margin-bottom: 10px;
        font-size: 0.9rem;
        
    }

    .character-card {
        width: 100%; /* 1 card per row */
        max-width: none;
    }

    .character-card h3 {
        font-size: 1rem;
    }
}