@import url('https://fonts.cdnfonts.com/css/death-star');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Death Star', sans-serif;
}
body {
    min-height: 100vh;
    background: url(assets/starsbg.jpeg) no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
    animation: change 70s infinite ease-in-out;
    
}

/*navbar*/

@keyframes change{
    0%{
      background-image: url(assets/Shot1.jpg);
    }
    10%{
      background-image: url(assets/shot2.jpg);
    }
    20%{
      background-image: url(assets/shot3.jpg);
    }
    30%{
      background-image: url(assets/shot5.jpg);
    }
    40%{
      background-image: url(assets/shot6.jpg);
    }
    50%{
      background-image: url(assets/shot7.jpg);
    }
    60%{
      background-image: url(assets/shot8.jpg);
    }
    70%{
      background-image: url(assets/shot9.jpg);
    }
    80%{
      background-image: url(assets/shot10.jpg);
    }  
    90%{
      background-image: url(assets/shot11.jpeg);
    }
    100%{
      background-image: url(assets/shot12.jpg);
    }
  
  }

.header{
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border-bottom: 3px solid #ffe81f; 
}

.header::before{
    content:'';
    position: absolute;
    top: 0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    z-index: -1;
}

.header::after{
    content:'';
    position: absolute;
    top: 0;
    left:-100%;
    width:100%;
    height:100%;
    background: linear-gradient(90deg, transparent, rgba(255,255,255,.4), transparent);
    transition: .5s;
}

.header:hover::after{
    left:100%;
}

.logo{
    font-size: 2rem;
    color: transparent;
    -webkit-text-stroke: 0.5px #ffe81f;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
  font-size: 1rem;
  color: #ffe81f;
  text-decoration: none;
  font-weight: 500;
  margin-left: 2.5rem;
}

.navbar a.active {
  font-size: 1.5rem;
  color: transparent;  
  -webkit-text-stroke: 0.5px #ffe81f;
  font-weight: bold; 
}

#check{
    display: none;
}

.icons{
    position:absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #ffe81f;
    cursor:pointer;
    display: none;
}


/*home*/

.home-content {
  margin-top: 100px;
  text-align: center;
  color: #ffe81f;
  padding: 2rem;
}

.home-content .summary h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.home-content .summary p {
  font-size: 1.2rem;
  max-width: 800px;
  margin: 0 auto;
}

.trivia-slider {
  margin-top: 2rem;
  text-align: center;
  color: #000;
}

.trivia-slider h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #ffe81f;
  font-weight: 700;
  -webkit-text-stroke: 0.8px black;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7), 0 0 25px #ffe81f, 0 0 5px #ffe81f;
}

.slider {
  text-align: center;
  position: relative;
  height: 100px;
  max-width: 600px;
  margin: 0 auto;
  overflow: hidden;
  background: rgba(0, 0, 0, 0);
  background: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.4), transparent);
  padding: 1rem;
  border-radius: 10px;
}

.slide {

  align-items: center;
  justify-content: center;
  text-align: center;
  display: none;
  font-size: 1.2rem;
  color:#ffffff;
  -webkit-text-stroke: 0.8px black;

}
/* Banner Section */
.home-banner {
  position: relative;
  text-align: center;
  margin-top: 80px; 
}

.banner-image {
  width: 100%;
  height: auto;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffe81f;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 5px 5px 10px #000;
}

.summary h1 {
  font-size: 4rem;
  color: #ffe81f;
  font-weight: 700;
  -webkit-text-stroke: 0.8px black;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7), 0 0 25px #ffe81f, 0 0 5px #ffe81f;
}

.summary p {
  background: rgba(0, 0, 0, 0);
  background: linear-gradient(90deg, transparent, rgb(0, 0, 0), transparent);
  border-radius: 10px;
  font-family: 'Courier New', Courier, monospace;
  color:#ffffff;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7), 0 0 25px #ffe81f, 0 0 5px #ffe81f;
}

/* Features Section */
.features {
  margin: 2rem 0;
  text-align: center;
  color: #ffe81f;
  position: relative;
}

.features h2 {
  color:transparent;
  font-size: 2rem;
  margin-bottom: 1rem;
  -webkit-text-stroke: 0.1px #ffe81f;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7), 0 0 25px #ffe81f, 0 0 5px #000;
}

.feature-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.feature {
  -webkit-text-stroke: 0.1px black;
  border-radius: 15px;
  background: #000;
  padding: 1.5rem;
  text-align: center;
  width: 250px;
  color: #fff;
  position: relative;
}
.feature::after {
  content:'';
  position:absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(#fff, #ffe81f, #ff9f00, #000, #ff9f00,#ffe81f,#fff );
  border-radius: 10px;
  top:50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 3px;
}

@keyframes glow {
  0% {
    box-shadow: 
      0 0 10px 4px rgba(253, 255, 110, 0.8),
      0 0 10px rgba(0, 0, 0, 0.6),
      0 15px 30px rgba(0, 0, 0, 0.3),
      inset 0 0 10px rgba(0, 0, 0, 0.5);
  }
  100% {
    box-shadow: 
      0 0 20px 10px rgba(253, 255, 110, 0.8), 
      0 0 25px rgba(0, 0, 0, 0.7),        
      0 25px 50px rgba(0, 0, 0, 0.4),       
      inset 0 0 20px rgba(0, 0, 0, 0.6);   
  }
}

@keyframes shadowMovement {
  0% {
    box-shadow: 
      0 0 10px 4px rgba(253, 255, 110, 0.8),
      0 0 15px rgba(0, 0, 0, 0.6),
      0 15px 30px rgba(0, 0, 0, 0.3),
      inset 0 0 10px rgba(0, 0, 0, 0.5);
  }
  100% {
    box-shadow: 
      0 0 25px 10px rgb(249, 255, 81),
      0 0 25px rgba(0, 0, 0, 0.7),
      0 25px 50px rgba(0, 0, 0, 0.4),
      inset 0 0 20px rgba(0, 0, 0, 0.6);
  }
}


.feature i {
  font-size: 3rem;
  color: #ffe81f;
  margin-bottom: 0.5rem;
}

.feature h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.feature-icon {
  color:#ffe81f;
  width: 50px;
  height: 50px;
}

.feature-btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  color: #ffe81f;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  border: 2px solid #ffe81f;
  -webkit-text-stroke: 0.1px black;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.feature-btn:hover {
  -webkit-text-stroke: 0.1px #ffe81f;
  background-color: #ffe81f;
  color: #000;
  cursor: pointer;
}


/* Footer */
.footer {
  text-align: center;
  padding: 1rem;
  background: #000;
  color: transparent;
  margin-top: 2rem;
  -webkit-text-stroke: 0.8px #ffe81f;
}
